$text-font: Roboto-medium, sans-serif;

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 40px 40px 40px;
}

.error {
	font-family: $text-font;
}

.wrapper {
  @include display-grid;
  grid-template-columns: repeat(20, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(20, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;

  div {
    background-size: cover;
  }
}

.box0 {
  @include grid-child(11, 19, 2, 12);
}

.box1 {
  @include grid-child(4, 12, 1, 8);
}

.box2 {
  @include grid-child(14, 21, 11, 21);
}

.box3 {
  @include grid-child(6, 16, 7, 16);
}

.box4 {
  @include grid-child(1, 9, 6, 18);
}

.box5 {
  @include grid-child(4, 12, 13, 21);
}

@media screen and (max-width: 800px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: auto;

		div {
			width: 500px;
			height: 300px;
			margin-bottom: 5px;
		}
	}
}
