//@mixin display($grid) {
//  -ms-display: $grid;
//  display: $grid;
//}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 40px 40px 40px;
}

.wrapper {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(20, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(20, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100%;

  div {
    background-size: cover;
  }
}

.box0 {
  grid-column: 11/19;
  -ms-grid-column: 11;
  -ms-grid-column-span: 8;
  grid-row: 2/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
}

.box1 {
  grid-column: 4/12;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-row: 1/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
}

.box2 {
  grid-column: 14/21;
  -ms-grid-column: 14;
  -ms-grid-column-span: 7;
  grid-row: 11/21;
  -ms-grid-row: 11;
  -ms-grid-row-span: 10;
}

.box3 {
  grid-column: 6/16;
  -ms-grid-column: 6;
  -ms-grid-column-span: 10;
  grid-row: 7/16;
  -ms-grid-row: 7;
  -ms-grid-row-span: 9;
}

.box4 {
  grid-column: 1/9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-row: 6/18;
  -ms-grid-row: 6;
  -ms-grid-row-span: 12;
}

.box5 {
  grid-column: 4/12;
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-row: 13/21;
  -ms-grid-row: 13;
  -ms-grid-row-span: 9;
}

